.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: $color-dark;
  color: $color-light;

  &__wrapper {
    position: relative;
  }

}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1.5);
    font-weight: $font-light;
    font-style: italic;

    .flag-1 {
      color: $color-success;
    }

    .flag-2 {
      color: $color-light;
    }

    .flag-3 {
      color: $color-danger;
    }
  }

}

.main-nav {
  position: absolute;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -8);

  a {
    @extend .h2;
    color: $color-main;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: darken($color-dark, 5%);
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

    &.active {
      background: lighten($color-dark, 75%);
    }

  }

}

@media only screen and (max-width: 586px) {
  .header {
    padding: ($base-size * 6) 0 ($base-size * 8) 0;

    &__wrapper {
      text-align: center;

      .logo {
        transform: translateY(-75%);

        &__subtitle {
          display: none;
        }
      }

      .main-nav {
        width: 100%;
        @include flex(row, center, space-evenly);
      }
    }
  }
}
@media only screen and (max-width: 387px) {
  .header {
    a {
      margin-right: $base-size;
    }
  }
}
@media only screen and (max-width: 365px) {
  .header {
    a {
      padding: calc($base-size / 2) $base-size;
      margin-right: 0;
    }
  }
}